---
layout: compress
---
<!doctype html>
<html ⚡ lang="en">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
   <meta name="theme-color" content="{{ site.theme_color }}">
   <link rel="manifest" href="{{ site.github.baseurl }}/manifest.json">
   <link rel="apple-touch-icon" href="{{ site.github.baseurl }}/assets/images/icon-144.png">
   <link rel="icon" href="{{ site.baseurl }}/assets/images/icon-144.png" type="image/png">
   <style amp-custom>
     {% capture include_to_scssify %}
       {% include normalize.css %}
       {% include github-markdown.css %}
       {% include styles.scss %}
     {% endcapture %}
     {{ include_to_scssify | scssify }}
   </style>
   <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
   <script async src="https://cdn.ampproject.org/v0.js"></script>
  	<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
   <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
   <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
   <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
   {% if site.analytics %}<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>{% endif %}
   {% if layout.sidebar %}<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>{% endif %}
   {% include seo.html %}
 </head>
 <body class="site markdown-body">
  {% if site.analytics %}{% include analytics.html %}{% endif %}
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  {% include sw.html %}
 </body>
</html>
