---
layout: content
content_class: product
sidebar: true
---
{% include product/state.html attributes=page.attributes %}
<div class="product_name">
  <h2>{{ page.name }}</h2>
</div>
<div class="product_description">
  <p>{{ content }}</p>
</div>
<div class="product__features">
  {% include product/features.html features=page.features %}
</div>
<div class="product__selectors">
  {% include product/selectors.html attributes=page.attributes %}
</div>
<div class="product__carousel">
  {% include product/carousel.html images=page.images %}
</div>
<div class="product__add-to-cart">
  {% include product/carousel.html attributes=page.attributes %}
</div>
<hr class="product__rule">
{% include sidebar.html %}
