---
layout: content
content_class: product
sidebar: true
---
<amp-state id="product">
  <script type="application/json">
    {      
      {%- for attribute in page.attributes -%}
      "selected_{{ attribute.name }}": "{{ attribute.items.first }}", 
      {%- endfor -%}      
      "price": {{ page.price }}
    }    
  </script>
</amp-state>
<div class="product__selectors">
{%- for attribute in page.attributes -%}
<amp-selector name="{{ attribute.name }}"
  layout="container"
  [selected]="product.selected_{{ attribute.name }}"
  on="select:AMP.setState({
    product: {
      selected_{{ attribute.name }}: event.targetOption
    }
   })">
  <ul>
  {%- for item in attribute.items -%}
    <li{% if forloop.first %} selected{% endif %} option="{{ item }}">{{ item }}</li>
  {%- endfor -%}
  </ul>
</amp-selector>
{%- endfor -%}
</div>
<div class="product__image">
  <amp-carousel class="product__carousel"
    id="product-image-carousel"
    width="auto"
    height="300"
    layout="fixed-height"
    type="slides"
    lightbox>
    {% for image in page.images %}
    <amp-img
      height="300"
      layout="fixed height"
      alt="an image"
      src="{{ image }}"></amp-img>  
    {% endfor %}
  </amp-carousel>
  <amp-carousel class="product__carousel-preview"
    width="auto"
    height="48"
    layout="fixed-height"
    type="carousel">
    {% for image in page.images %}
    <button on="tap:product-image-carousel.goToSlide(index={{ forloop.index }})">
      <amp-img src="{{ image }}"
        width="auto"
        height="40"
        layout="responsive"
        alt="a sample image"></amp-img>
    </button>
    {%- endfor -%}
  </amp-carousel>
</div>
<div class="product__submit-button">
  <form method="post"
    action-xhr="https://us-central1-cart-991a0.cloudfunctions.net/api/shop/{{ site.github.repository_nwo | url_encode | replace: "/","%2f" }}/cart/"
    target="_top"
    on="submit-success:cart.refresh">
    <input name="cartId"  
      type="hidden"
      value="CLIENT_ID(cart)"
      data-amp-replace="CLIENT_ID">
    <input name="productId"  
      type="hidden"
      value="{{ page.path }}">
    {%- for attribute in page.attributes -%}
    <input name="attributes[{{ attribute.name }}]"  
      type="hidden"
      value="{{ attribute.items.first }}"
      [value]="product.selected_{{ attribute.name }}">
    {%- endfor -%}
    <input type="submit">
  </form>
</div>
<div class="product__cart-button">
  <button on='tap:sidebar.toggle'>cart</button>
</div>
<amp-sidebar id="sidebar" layout="nodisplay" side="right" on="open:cart.refresh">
  <amp-list id="cart"    
    layout="fill"
    src="https://us-central1-cart-991a0.cloudfunctions.net/api/shop/{{ site.github.repository_nwo | url_encode | replace: "/","%2f" }}/cart/?clientId=CLIENT_ID(cart)">
    {% raw %}
    <template type="amp-mustache">
      <div>{{ id }}</div>
    </template>
    {% endraw %}
  </amp-list>
</amp-sidebar>

