<amp-carousel
    id="product-image-carousel"
    height="300"
    layout="fixed-height"
    type="slides"
    lightbox>
    {% for image in include.images %}
    <amp-img
      layout="fill"
      alt="an image"
      src="{{ image }}"></amp-img>  
    {% endfor %}
  </amp-carousel>
  <amp-carousel
    id="product-image-carousel-preview"                
    height="48"
    layout="fixed-height">
    {% for image in include.images %}
    <amp-img 
      src="{{ image }}"
      width="60"
      height="40"
      role="button"
      layout="fixed"
      on="tap:product-image-carousel.goToSlide(index={{ forloop.index | minus: 1 }})"
      alt="a sample image"></amp-img>
    {%- endfor -%}
  </amp-carousel>
